<?php

    /**
     * Add in this file any server-specific configuration
     */

    // Error reporting
    error_reporting(E_ALL);
    ini_set('display_errors', 1);

    // Timezone
    date_default_timezone_set('Asia/Dubai');

    // Encoding
    mb_internal_encoding('utf-8');

    // Environment
    define('APP_ENV', \Arrow\Application\Environment::DEV);

    /**
     * Compile all configuration files into one
     *
     * IMPORTANT: DEV environment only, extend/replace/remove for your specific needs
     */
    try {

        $compiler = \Application\Service\CompilerFactory::create();

        $compiler->build(
            APP_ROOT_PATH.'/module',
            APP_ROOT_PATH.'/cache/config.php'
        );

        unset($compiler);

    }
    catch(\Exception $e) {

        echo sprintf(
            '%s (%s): %s',
            str_replace(APP_ROOT_PATH, '', $e->getFile()),
            $e->getLine(),
            $e->getMessage()
        );

    }